.option {
    display: none;
    margin: auto;
    padding: 5px;
    background-color: #e5e4e2;
}

.option:hover {
    background-color: #cdccca;
}

.menu {
    border: 2px solid black;
    border-radius: 0.1em;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.select {
    margin: auto;
}